.about-mission {
  padding: 70px 90px 90px;
  background-color: white;
  position: relative;
}

.about-mission::before {
  content: "";
  position: absolute;
  top: 0;
  left: 5%;
  width: 90%;
  height: 1px;
  background-color: #159447;
}

.mission-box {
  max-width: 1100px;
  margin: auto;

  padding: 55px 70px;

  background-color: #eef8f1;
  border-radius: 18px;

  text-align: center;
}

.mission-box span {
  color: #159447;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 2px;
}

.mission-box h2 {
  font-family: "Outfit", sans-serif;

  max-width: 750px;
  margin: 15px auto 18px;

  font-size: 38px;
  font-weight: 700;
  line-height: 1.2;

  color: #17232b;
}

.mission-box p {
  max-width: 800px;
  margin: auto;

  font-size: 16px;
  line-height: 1.8;

  color: #667078;
}